@media only screen and (min-width: 768px) {
  .desktop-hidden {
    display: none;
  }

  .nav-bar-desktop {
    display: flex;
    justify-content: space-between;
  }

  .nav-links-wrapper {
    display: flex;
    font-size: 18px;
    align-items: center;
    flex-basis: 60%;
    justify-content: space-around;
  }

  .block {
    text-align: left;
    padding: 0 150px;
  }

  .header {
    height: 500px;
  }

  .header-intro {
    font-size: 64px;
  }

  .header-description {
    font-size: 24px;
  }

  .header-links {
    font-size: 18px;
  }

  .skills-wrapper {
    width: 100%;
    padding-left: 70px;
  }

  .skills-block {
    display: flex;
  }

  .skill-title {
    flex-basis: 20%;
  }

  .profile-pic {
    width: 25%;
    min-width: 180px;
    height: max-content;
  }

  .research-wrapper {
    display: flex;
    position: relative;
  }

  .block-description {
    text-align: left;
    width: 30%;
  }

  .block-subtitle {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-link {
    padding-bottom: 1em;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  .arrow {
    align-self: flex-end;
  }

  .slider-buttons {
    display: block;
    position: absolute;
    top: 90%;
    left: 3%;
    max-width: 60px;
  }
  .slider-buttons img {
    padding-right: 13px;
  }
}
